<div class="text-field">
    <%= form.label :Title %>
    <%= form.text_field :title %>
</div>

<div class="text-field">
    <%= form.label :Description %>
    <%= form.text_field :description %>
</div>

<div class="text-field">
    <%= form.label :Address %>
    <%= form.text_field :address %>
</div>

<div class="text-field">
    <%= form.label :District %>
    <%= form.text_field :district %>
</div>

<div class="text-field">
    <%= form.label :State %>
    <%= form.text_field :state %>
</div>

<div class="text-field">
    <%= form.label :Country %>
    <%= form.text_field :country %>
</div>

<div class="text-field">
    <%= form.label :Room %>
    <%= form.text_field :room %>
</div>

<div class="text-field">
    <%= form.label :Bath %>
    <%= form.text_field :bath %>
</div>

<div class="text-field">
    <%= form.label :Adult %>
    <%= form.text_field :adult %>
</div>

<div class="text-field">
    <%= form.label :Children %>
    <%= form.text_field :children %>
</div>

<div class="text-field">
    <%= form.label :Price %>
    <%= form.text_field :price %>
</div>

<div class="text-field">
    <%= form.label :Listing_Images %>
    <%= form.file_field :images, multiple: true %>
</div>

<div class="submit-field">
    <%= form.submit %>
</div>