<div class="row">
    <div class="col-5 border-left border-right">    
        <div class="form-group">
            <%= form.label :Title %>
            <br> <%= form.text_area :title, rows: 4, class:"w-100" %>
        </div>

        <div class="form-group">
            <%= form.label :Description %>
            <br> <%= form.text_area :description, rows: 11, class:"w-100" %>
        </div>
    </div>

    <div class="col-4 border-right">
        <div class="form-group">
            <%= form.label :Address %>
            <br> <%= form.text_field :address, class:"w-100" %>
        </div>

        <div class="form-group">
            <%= form.label :District %>
            <br> <%= form.text_field :district, class:"w-100" %>
        </div>

        <div class="form-group">
            <%= form.label :State %>
            <br> <%= form.text_field :state, class:"w-100" %>
        </div>

        <div class="form-group">
            <%= form.label :Country %>
            <br> <%= form.text_field :country, class:"w-100" %>
        </div>

        <div class="form-group">
            <%= form.label :Listing_Images %>
            <br> <%= form.file_field :images, multiple: true %>
        </div>
    </div>

    <div class="col-3 border-right">
        <div class="form-group">
            <%= form.label :Room %>
            <br> <%= form.text_field :room, class:"w-100" %>
        </div>

        <div class="form-group">
            <%= form.label :Bath %>
            <br> <%= form.text_field :bath, class:"w-100" %>
        </div>

        <div class="form-group">
            <%= form.label :Adult %>
            <br> <%= form.text_field :adult, class:"w-100" %>
        </div>

        <div class="form-group">
            <%= form.label :Children %>
            <br> <%= form.text_field :children, class:"w-100" %>
        </div>

        <div class="form-group">
            <%= form.label :Price %>
            <br> <%= form.text_field :price, class:"w-100" %>
        </div>
    </div>
</div>
<div class="submit-field text-center">
        <%= form.submit class:"btn btn-primary" %>
    </div>