<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<!-- ############################################# -->
<!-- Added Leon -->

<div class="text-field">
  <%= form.label :First_Name %>
  <%= form.text_field :first_name %>
</div>

<div class="text-field">
  <%= form.label :Last_Name %>
  <%= form.text_field :last_name %>
</div>

<!-- ############################################# -->

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
