<div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :testing, class: :testclass %>
</div>
  
<div class="text-field">
    <%= form.label :First_Name %>
    <%= form.text_field :first_name %>
</div>

<div class="text-field">
    <%= form.label :Last_Name %>
    <%= form.text_field :last_name %>
</div>

<div class="text-field">
    <%= form.label :Profile_Photo %>
    <%= form.file_field :photo, type: "file" %>
</div>

<div class="text-field">
    <%= form.label :password %>
    <%= form.text_field :password, type: "password" %>
</div>
