<h1> User Edit </h1>


<p> ID : <%= @user.id %> </p>
<p> First Name : <%= @user.first_name %> </p>
<p> Last Name : <%= @user.last_name %> </p>
<p> Email : <%= @user.email %> </p>
<p> Joined On : <%= @user.created_at %> </p>


<!-- local disables remote forms -->
<%= form_with model: @user, local: true do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
        <%= form.submit %>
    </div>
    <!-- passes to user params -->
    <!-- <%= form.check_box :testing_scope_box %> Label check box form -->
    <br>
<% end %>

<!-- outside of user params -->
<!-- <%= check_box_tag :testing_scope_tag %> Label check box tag -->