<h1> User Show </h1>

<p> ID : <%= @user.id %> </p>
<p> First Name : <%= @user.first_name %> </p>
<p> Last Name : <%= @user.last_name %> </p>
<p> Email : <%= @user.email %> </p>
<p> Joined On : <%= @user.created_at %> </p>